<div class="sidebar material-sidebar">

    <!-- toggle link for responsive version -->
    <span class="sidebar-toggle">
        <i class="fa fa-plus"></i>
    </span>

    {% include header.html %}

    <div class="widget">
        <h3 class="title">Categorías</h3>
        {% include category_list.html %}
    </div>
    <div class="widget">
        <h3 class="title">Etiquetas</h3>
        {% include tag_list.html %}
    </div>

    <div class="widget">
        <h3 class="title">Autores</h3>
        {% include author_list.html %}
    </div>

</div>
